* {
  margin: 0;
  font-family:  'arial';
}

.App{
  text-align: left;
  align-items: left;
  display: flex;
  flex-direction: column;
}

a.spotify-style{
  line-height: 1;
  color: white;
  background-color: #1db954;
  border-radius: 500px;
  text-decoration: none;
  width: 400px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 16px 40px;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .3s;
}

.App a.spotify-style:hover{
  background-color: rgb(28, 211, 67);
}

button.spotify-style{
  line-height: 1;
  margin: 12px;
  color: white;
  background-color: #1db954;
  border-radius: 500px;
  text-decoration: none;
  width: 250px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 16px 12px;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .3s;
}

.App button.spotify-style:hover{
  background-color: rgba(29, 185, 112, 0.705);
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 24px;
  color: white;
  list-style: none;
  background: #0046B8;
  font-size: 36px;
  font-weight: bold;
  align-items: center;
  border-bottom: solid;
  border-color: black;

}

.main-display-wrapper {
  list-style: none;
  font-size: 22px;
  font-weight: bold;
  border-bottom: solid;
  border-color: black;
  padding: 12px;
}

.main-text-wrapper {
  list-style: none;
  font-size: 24px;
  font-weight: bold;
  border-bottom: solid;
  border-color: black;
  padding: 12px;
  margin-left: 12px;
}

.genres{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 12px;
  font-size: 28px;
  color: #0F6BFF;
  font-weight: normal;
}

.genre-display-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: left;
  padding: 12px;
  list-style: none;
  font-size: 24px;
  font-weight: bold;
  border-bottom: solid;
  border-color: black;
}


@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
  .login-button-wrapper{
    margin-top: 12px;
  }
  .genres{
    flex-direction: column;
    align-items: flex-start;
  }
}