* {
  margin: 100;
  font-family:  'arial';
  font-weight: 400;
}

.App{
  text-align: left;
  align-items: left;
  display: flex;
  flex-direction: column;
}

a.spotify-style{
  line-height: 1;
  margin-top: 10px;
  color: white;
  background-color: #1db954;
  border-radius: 500px;
  text-decoration: none;
  width: 200px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 16px 12px;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .3s;
}


.App a.spotify-style:hover{
  background-color: rgba(29, 185, 112, 0.705);
}

button.spotify-style{
  line-height: 1;
  margin-top: 10px;
  color: white;
  background-color: #1db954;
  border-radius: 500px;
  text-decoration: none;
  width: 200px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  padding: 16px 12px;
  border: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .3s;
}


.App button.spotify-style:hover{
  background-color: rgba(29, 185, 112, 0.705);
}

